@charset "utf-8";

@media screen and (min-width:866px) {
    /*현재 페이지에 해당하는 서브 내비게이션 가로길이 늘리기*/
    .m_discBox{
        display: none;
    }
    .sub_nav > ul > li.active {
        width: 128px;
    }

    h3 {
        position: absolute;
        right: 80px;
        top: 120px;
        font-size: 82px;
        font-weight: 900;
        text-transform: uppercase;
        color: #d482d4;
        text-shadow: 3px 0 #232123, -1px 0 #232123, 0 1px #232123, 0 -1px #232123;
    }

    /*앨범 서식*/
    .discBox {
        position: absolute;
        width: 100%;
        height: calc(100% - 330px);
        top: 200px;
        left: 0px;
        padding: 0px 50px;
        box-sizing: border-box;
        color: #232123;

    }

    .discBox .list {
        height: 100%;
        display: flex;
    }

    .discBox .list > li {
        position: relative;
        border-right: 1px solid rgba(0, 0, 0, 0.6);
        /*    float: left;*/
        height: 100%;
        width: calc(100%/20);
        transition: 0.6s;
    }

    .discBox .list > li.hover {
        height: calc(100% + 20px);
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.8);
    }

    .discBox .list > li.unhover {
        opacity: 0.6;
    }

    .discBox .list > li.active {
        width: calc((100% / 25) * 7);
        /*350px;*/
    }

    .discBox .list > li > .title {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: left;
        bottom: 0px;
        left: 50%;
        width: 300px;
        transition: 0.6s;
        color: #404040;
    }

    .discBox .list > li.active > .title {
        font-size: 26px;
        font-weight: bold;
        height: 32px;
        transform: rotate(0deg);
        top: 10px;
        left: 20px;
    }

    .discBox .list > li .txt {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: right;
        top: 0px;
        right: 50%;
        text-align: right;
        width: 200px;
        transition: 0.6s;
        color: #232123;
    }

    .discBox .list > li.active .txt {
        transform: rotate(0deg);
        top: 0px;
        right: 20px;
    }

    .discBox .box {
        display: none;
        position: absolute;
        top: 70px;
    }

    .discBox li.active .box {
        display: block;
        /*    height: calc(100% - 50px);*/
    }

    .box > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .track {
        position: absolute;
        bottom: 5px;
        left: 10%;
        background: rgba(25, 24, 25, 0.75);
        width: 80%;
        padding: 20px;
        box-sizing: border-box;
        color: #fff;
        display: none;
    }

    /*첫번째 목록의 트랙내용 보이게 하기*/
    .discBox li:first-child ul.track {
        display: block;
    }

    .track li {
        padding-bottom: 5px;
    }

    .track .header {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        margin-bottom: 10px;
    }

    .track li {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /*sns아이콘 배열 가로로 배치*/
    .snsBtn {
        bottom: 50px;
    }

    .snsBtn > ul > li {
        float: left;
        margin-left: 10px;
    }
}


@media screen and (max-width:865px) {
    .discBox{
        display: none;
    }
    section{
        overflow: scroll;
    }
    h3 {
        position: absolute;
        right: 8%;
        top: 120px;
        font-size: 45px;
        font-weight: 900;
        text-transform: uppercase;
        color: #d482d4;
        text-shadow: 3px 0 #232123, -1px 0 #232123, 0 1px #232123, 0 -1px #232123;
    }
    .snsBtn {
        bottom: 50px;
    }

    .sub_nav {
        display: none;
    }
    /*sns아이콘 배열 가로로 배치*/
    .snsBtn {
/*        bottom: 0px;*/
        display: none;
    }

    .snsBtn > ul > li {
        float: left;
        margin-left: 10px;
    }
    
    /*스와이퍼 서식*/
    .swiper-container{
        position: absolute;
        top: 200px;
        width: calc(100% - 90px);
        height: calc(100% - 350px);
    }
    .swiper-slide{
        width:100%;
        height: 100%;
        object-fit: cover;
        
        padding: 0px;
    }
    .swiper-wrapper > .swiper-slide:first-child{
        margin-left: -10px;
    }
    .swiper-container.swiper-container-v.swiper-container-initialized.swiper-container-vertical{
    width: 100%;
    height: 100%;
}
    .swiper-slide > .box{
        width: 100%;
        margin: 0px auto;
/*        height: 420px;*/
/*        margin-bottom: 15px;*/
        position: relative;
        top: 0px;
        text-align: center;
    }
    .swiper-slide > .box > img{
        width: 100%;
    }
    .box > .track{
        position: absolute;
        bottom: 4px;
        left: 10%;
        background: rgba(25, 24, 25, 0.75);
        width: 80%;
        margin: 0px auto;
        padding: 15px;
        box-sizing: border-box;
        color: #fff;
        line-height: 30px;
        font-size: 12px;
    }
    .title{
        box-sizing: border-box;
        color: #232123;
        margin-bottom: 20px;
        font-size: 25px;
    }
    .title::after{
        display: block;
        content: "";
        clear: both;
        background: #772d5d;
        width: 50px;
        height: 5px;
        margin: 20px auto;
        font-weight: bold;
    }
    .txt{
        color: #232123;
        margin-bottom: 20px;
    }



}





























