@charset "utf-8";

/*메인 레이아웃 공통*/




/*헤더영역------------------------------*/
header{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 20;
    padding: 40px 40px 30px 40px;
    box-sizing: border-box;
}

header > h1{
    float: left;
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    padding: 5px;
}
header > h1 > a{
    color: #ffffff;
/*    text-shadow: 0px 0px 3px #a0a0a0;*/
}
header > h1 > a > span:first-child{color: #ff76b5; text-shadow: none;}
header > h1 > a > span:last-child{color: #399ed3; text-shadow: none;}

/*토글버튼*/
header > .toggle{
    float: right;
    width: 40px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}
.toggle > .bar{
    background: #2e2e2e;
    width: 40px;
    height: 6px;
    position: absolute;
    right: 40px;
    margin-bottom: 6px;
    transition: 0.5s;
}
.toggle > .bar:first-child{
    top: 40px;
}
.toggle > .bar:nth-child(2){
    top: 52px;
    width: 32px;
}
.toggle > .bar:last-child{
    width: 20px;
    top: 64px;
    margin-bottom: 0px;
}

/*토글에 마우스 오버시*/
/*상단 햄버거 메뉴에 마우스 오버시 길이 늘리기*/
.toggle > .bar.hover{
    width: 40px !important;
}
/*상단 햄버거 메뉴 클릭시 회전하여 X자 모양 나오게*/
.toggle > .bar.closeToggle_L{
    transform: rotate(45deg);
}
.toggle > .bar.closeToggle_R{
    transform: rotate(-45deg);
    top: 40px !important; /*위치 이동*/
}


/* sns 아이콘 서식 */
.snsBtn{
    position: absolute;
    z-index: 20;
    bottom: 80px;
    right: 5%;
}
.snsBtn li a{
    position: relative;
    background: #000000;
    width: 45px;
    height: 45px;
    border-radius: 50%;;
    display: block;
    border: 2px solid #272727;
    opacity: 0.4;
    overflow: hidden;
    transition: 0.6s;
    margin-bottom: 10px;
}
.snsBtn li a i{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    transition: 0.6s;
    color: #fff;
}
.snsBtn > ul > li > a.hover{
    opacity: 1;
}
.snsBtn > ul > li > a > span.bg{
    position: absolute;
    display: block;
    background: #272727;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
    top: -50px;
    left: -2px;
}
.snsBtn > ul > li > a > span.bg.hover{
    top: -2px;
}
.snsBtn > ul > li > a > i.hover{
    color: #fff;
}

/* 토글메뉴 서식 */
.toggleMenu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
/*    background: #232123;*/
    background: #fff0f7;
    z-index: 10;
    top: -100%;
}
.toggleMenu > .bgText{
    position: absolute;
    font-size: 250px;
    font-weight: 900;
    color: #3b283b;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.toggleMenu > nav{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.toggleMenu .bar{
    float: right;
    width: 2px;
    height: 2px;
    background: #232123;
    margin: 40px 0px;
    transition: 0.6s;
}
.toggleMenu .bar.hover{
    width: 80px;
}
.toggleMenu a{
    float: right;
    display: block;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 10px;
    transition: 0.8s;
    color: #232123;
}
.toggleMenu li a.hover{
    font-weight: 900;
}

/*서브페이지 공통 내비게이션 서식*/
.sub_nav{
    position: absolute;
    bottom: 80px;
    left: 80px;
}
.sub_nav li{
    float: left;
    margin-right: 5px;
    border-bottom: 2px solid #232123;
    overflow: hidden;
    width: 40px;
    transition: 0.6s;
}
.sub_nav li a{
    font-size: 18px;
    padding: 5px;
    display: block;
    text-transform: uppercase;
    opacity: 0; /*글자 안보이게*/
    transition: 0.6s;
    color: #232123;
}
.sub_nav li.active{
    width: 80px;
}
.sub_nav li.active a{
    opacity: 1;
}
.sub_nav li.active.opa{
    opacity: 0.3;
}
.sub_nav li.hover:first-child{
    width: 80px;
}
.sub_nav li.hover:nth-child(2){
    width: 60px;
}
.sub_nav li.hover:nth-child(3){
    width: 85px;
}
.sub_nav li.hover:nth-child(4){
    width: 128px;
}
.sub_nav li.hover:nth-child(5){
    width: 108px;
}
.sub_nav li.hover:last-child{
    width: 97px;
}

.sub_nav > ul > li:hover a{
    opacity: 1;
}

section{
    position: fixed;
    width: 100%;
    height: 100%;
}


@media screen and (max-width:865px){
    .snsBtn{
        position: absolute;
        z-index: 20;
        bottom: 20px;
        right: 5%;
    }
    
    /* 토글메뉴 서식 */
    .toggleMenu{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    /*    background: #232123;*/
        background: #fff0f7;
        z-index: 10;
        top: -100%;
    }
    .toggleMenu > .bgText{
        position: absolute;
        font-size: 250%;
        font-weight: 900;
        color: #3b283b;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
    .toggleMenu > nav{
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
    }
    .toggleMenu .bar{
        display: none;
    }
    .toggleMenu a{
        float: right;
        display: block;
        font-size: 160%;
        text-transform: uppercase;
        font-weight: 300;
        padding: 10px;
        transition: 0.8s;
        color: #232123;
        line-height: 120%;
    }
    
    /*sns 가로목록으로 변경*/
    .snsBtn > ul > li{
        float: left;
        margin-left: 10px;
    }
}
























