@charset "utf-8";

/*서브페이지에서 현재페이지의 메뉴 가로길이를 조정함.*/
.sub_nav > ul > li.active{
    width: 105px;
}

h3{
    position: absolute;
    right: 80px;
    top: 120px;
    font-size: 82px;
    font-weight: 900;
    text-transform: uppercase;
    color: #d482d4;
    text-shadow: 3px 0 #232123, -1px 0 #232123, 0 1px #232123, 0 -1px #232123;
}

iframe{
    position: absolute;
    top: 220px;
    left: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 370px);
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
}

/*sns메뉴 가로방향으로 변경*/
.snsBtn > ul > li{
    float: left;
    margin-left: 10px;
}

#bo_list{
    width: 80%;
    margin:0px auto;
}
@media screen and (max-width:865px){
    h3{
        font-size: 45px;
    }
    .snsBtn{
        bottom: 50px;
    }
    .sub_nav{
        display: none;
    }
}







































